:root {
    --text-color: #424242;
    --background-color: #e3e3e3;
    --border-color: #4d4d4d;
    --main-background: #fcba03;
    --shadow: #805e03;
    --search-bar-color: #9e7e24; 
    --site-card-color: #e9d4b7;
}
body {
    background-color: var(--main-background);
    font-family: Verdana, sans-serif;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 250px;
}

.topnav {
    overflow: hidden;
    margin-top: 10px;
    box-shadow: 5px 5px 5px var(--shadow);
    background-color: var(--background-color);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
}

.topnav a {
    display: inline-block;
    padding: 10px;
    align-items:center;
    font-size: 17px;
    font-weight: 900;
    float: left;
    color: var(--text-color);
}

a {
    text-decoration: none;
    font-family: Verdana, sans-serif;
}

input {
    display: block;
    margin: auto;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*width: 90%;*/
    height: 50%;
    font-size: 20px;
    border: 2px solid var(--search-bar-color);
    /* border-radius: 10px; */
}

input:focus {
    outline: none;
}

.info-text {
    position: relative;
    top: 4rem;
}

.autocomplete {
    display: block;
    position: relative;
    margin: auto;
    width: 80%;
    height: 50%;
    font-size: 20px;
    top: 3rem;  
    /* border: 4px solid var(--border-color); */
}

.autocomplete-items {
    position: absolute;
    /* z-index: 2; */
    border: 1px solid;
    width: 100%;
}

.autocomplete-items div {
    z-index: 2;
    padding: 10px 10px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid;
}

.autocomplete-items div:hover {
    background-color: grey;
}

.autocomplete-active {
    background-color: grey;
}

#search_uni {
    position: auto;
    width: 90%;
    height: 50%;
    top: 2rem;  
    /* border: 4px solid var(--border-color); */
}



.card {
    display: flex;
    margin: auto;
    box-shadow: 5px 5px 5px var(--shadow);
    margin-top: 1rem;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 50%;
    color: var(--text-color);
    background-color: var(--background-color);
}

#university-title {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 70%;
    height: 50%;
    color: var(--text-color);
    font-weight: bold;
}

#college-info-description {
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 10px;
}

.center-text {
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    font-size: 30px;
    width: 80%;
    padding: 10px;
}

.card-group {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*border: 4px solid var(--border-color);*/

}

.card-img-top {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    overflow: ;
    /*border: 4px solid var(--border-color);*/

}

.card {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-content: center;*/
    position: relative;
    width: 20vw;
    box-shadow: 5px 5px 5px var(--shadow);
    top: 7rem;
    left: 0.5vw;
    background-color: white;
    border: 0.2vw solid var(--border-color);
    border-radius: 1rem;
    height: inherit;
    padding: 1vw;
    margin: 0.5vw;
    margin-top: 2vw;
}

.card-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.card-text {
    font-size: 1.1vw;
}

.btn-primary {
    position: relative;
    justify-content: center;
    width: 17vw;
    font-size: 1.8vw;
}

.site-card {
    display: none;
    margin: auto;
    box-shadow: 0.5vw 0.5vw 0.5vw var(--shadow);
    margin-top: 2rem;
    border-radius: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 70vw;
    height: 50%;
    color: var(--text-color);
    background: var(--site-card-color);
}

.site-card a{
    text-decoration: none;
}

.ranking-number {
    position: relative;
    font-size: 5vw;
    top: 0.5rem;
}

.ranking-title {
    position: relative;
    top: 2rem;
    left: -2vw;
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.card-img {
    display: flex;
    width: 7vw;
    height: auto;
}



@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#arwu-home-card {
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name: fade-in;
}

#the-home-card {
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-name: fade-in;
}

#qs-home-card {
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: fade-in;
}

#artu-home-card {
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    animation-duration: 2s;
    animation-name: fade-in;
}

#scimago-home-card {
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-name: fade-in;
}

#rur-home-card {
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    animation-duration: 2s;
    animation-name: fade-in;
}

@keyframes slidein-arwu {
    from {
        margin-top: 0rem;
    }
    to {
        margin-top: 2rem;
    }
}

#arwu-card {
    animation-duration: 2s;
    animation-name: slidein-arwu;
}

#qs-card {
    animation-duration: 2s;
    animation-name: slidein;
}

#the-card {
    animation-duration: 2s;
    animation-name: slidein;
}

#artu-card {
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: -6rem;
    }
    to {
        margin-top: 2rem;
    }
}

.img-txt-container {
    display: flex;
    margin-top: 8rem;
    margin-left: 6vw;
    margin-right: 6vw;
}

.txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.txt-container h3 {
    font-weight: bold;
    font-size: 4vw;
}

.txt-container h4 {
    font-size: 1.5vw;
}

.txt-container p {
    font-size: 2vw;
}

.txt-container a {
    font-size: 1vw;
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    /* margin-top: -200px; */
    background-color: black;
    color: white;
}

.delete-top-margin {
    margin-top: 0;
    margin-right: 2rem;
    margin-left: 2rem;
}
